@import url(http://fonts.googleapis.com/css?family=Open+Sans);
<<<<<<< HEAD
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
=======
>>>>>>> origin/master
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Typography */

body
{
	font-family: 'Lato', Garamond, Georgia, Cambria, Times, 'Times New Roman', serif; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5; 
}
	
h1, h2, h3, h4, h5, h6
{
<<<<<<< HEAD
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-weight: 900;
	/*padding: 0.5em 0 1em 0; */
=======
	font-family: 'Open Sans Light', 'Century Gothic', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-family: 'Roboto', sans-serif;
>>>>>>> origin/master
}

/* font-sizes */

/*   5 =  
 *   7 =  
 *   9 =  
 *  12 =  
 *  16 = 1em
 *  21 =  
 *  28 =  
 *  37 =  
 *  50 =  
 *  67 =  
 *  83 =  
 * 111 =  
 * 148 =  
 */

.post
{
	margin-bottom: 1em;
}

.title
{
	/* font-weight: normal; */
	line-height: 1.3;
	margin: 0;
}

.date
{
	/*text-transform: uppercase;*/
	/*letter-spacing: 3px; */
}

.navbar 
{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, 'Lucida Sans', Geneva, Verdana, sans-serif;
}

article > p 
{ 
/*	font-family: Garamond, Georgia, Cambria, Times, 'Times New Roman', serif; 
	font-size: 1.2em;
	line-height: 1.5em; 
	*/
}


/* Colour */

body
{
	background-color: white;
	color: black; /*#373e4b;*/
}

.navbar-default
{
	background-color: white; /*#aebb9d;*/
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus 
{
	color: black;
}

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus 
{
	color: black;
}

a, a:visited, a:hover, a:focus
{
	color: black; /*#d73b25;*/
}

header
{
	border-bottom: 1px dotted rgb(184,180,179); 
}

header p
{
	color: rgb(184,180,179);
}

.post-date
{
	color: black; /*#ddd;*/
}

footer
{
	border-top: 1px dotted rgb(184,180,179); 
	background-color: white; /*#373e4b;*/
	color: black; /*#e3d197;*/
}

/* Layout */

.navigation-bar
{
	padding: 2em 0;
}

nav a
{
	padding-right: 2em;
}

.posts li {
	margin-bottom: 5px;
    list-style-type: none;
}

.posts li .title
{
}

.posts li .date 
{
	float: right;
	
}
/* 
 colours:  
 
 dark blue: 556270
 light blue: 4ecdc4
 lime: c7f464
 pink: ff6b6b
 red: c44d58
 
*/

/*

cream: DED4B9
choc: 46433A
red: CE534D
green blue: 64B6B1

*/

