---
# scss file for app.css
---

// $base-font-stack: Georgia, Garamond, Cambria, Times, 'Times New Roman', serif; 
// $heading-font-stack: 'Helvetica Neue', Helvetica, 'Lucida Sans', Geneva, Verdana, sans-serif; 
$base-font-stack: 'Segoe UI', Georgia, Garamond, Cambria, Times, 'Times New Roman', serif; 
$heading-font-stack: 'Segoe UI', 'Helvetica Neue', Helvetica, 'Lucida Sans', Geneva, Verdana, sans-serif; 
$code-font-stack: Consolas, Monaco, "Lucida Console", "Courier New", courier, monospace;

// colour scheme
// light to dark
$white: #fff;
$gallery: #eee;
$celeste: #ccc;
$colonial-white: #ffedbe;
// $wild-willow: #a7cb68;
$jaffa: #ef7f3f;
$hot-cinnamon: #dd5d26;
$chicago: #585858;
$mako: #444854;
 

// colour values
$background-colour: $white;
$text-colour: $mako;

$negative-background-colour: $chicago;
$negative-text-colour: $white;

$primary-colour : $hot-cinnamon;
$highlight-colour: $jaffa;  

$light-subdued-colour: $gallery;
$medium-subdued-colour: $celeste;
$dark-subdued-colour: $chicago;

$half-transparent-background-colour: rgba(255,255,255, 0.5);
$half-transparent-text-color: rgba(0,0,0, 0.44);

body { 
	font-family: $base-font-stack; 
	background-color: $background-colour; 
	color: $text-colour;
	border-top: 5px solid $primary-colour;
}

.content { 
	padding: 2em 0; 

	p {
		line-height: 2;
	}
}

.meta { 
	padding: 0 0 2em 0; 
} 

footer { 
	background-color: $negative-background-colour; 
	color: $negative-text-colour; 
	padding-bottom: 2em;
}

.tag-cloud, .social, .other { 
	padding-top: 2em; 
}

.tag-cloud li { 
	float: left; 
	width: 33%;
}

a {
	color: $primary-colour;
	text-decoration: none;
	border-bottom: 1px dotted $primary-colour;
}

a:hover {	
	color: $highlight-colour;
}

.avatar a, .social a 
{
	border: 0;
}

header
{
	margin-bottom: 2em;


	h2, h3 {
		margin-bottom: 0;
	}

	p { 
		color: $medium-subdued-colour; 
		margin: 0; 
	}
	
	a.tag { 
		margin-right: 0.4em;  
	}
}

blockquote {
	font-size: 200%;
	font-style: italic;

	p:before {
		color: $medium-subdued-colour;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}

	p:after {
		color: $medium-subdued-colour;
		content: close-quote;
		font-size: 4em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}
}

code {
	border-radius: 0;
	background-color: $light-subdued-colour;
	font-family: $code-font-stack;
}

.colophon {
	padding-top: 2em;
}

.large-icons {
	font-size: 250%
}

img {
	max-width: 100%;
	height: auto;
}

.paginator {

	a { 
		border: 1px solid $medium-subdued-colour; 
		padding: 0.2em 0.4em;
	} 

	em, span { 
		background-color: $light-subdued-colour; 
		border: 1px solid $light-subdued-colour; 
		padding: 0.2em 0.4em; 
	}

	.button { 
		padding: 0 10px; 
	}
}


h1, h2, h3, h4, h5, h6 { 
	font-family: $heading-font-stack; 
	font-weight: 600;
}

// headings at bottom
h2, h3, h4 {
	color: $half-transparent-text-color;
	letter-spacing:-0.02em;
}

th, td { 
	border-bottom: 0; 
}

.no-list-dot { 
	list-style-type: none; 
}

.list-inline { 
	list-style-type: none; 
	margin-bottom: 0;

	li { 
		display: inline; 
	}	  
}

.site-title {
	background: $half-transparent-background-colour;
	padding: 2em;

	a {
		border: 0;
		color: $text-colour;
	}

}

/* hero styles */
.hero { 
	background-color: $background-colour; 
	padding: 5em; 
}

@media (min-width: 750px) {
	.waste {
		background: url("../img/heroes/muda-muri-mura.png") no-repeat scroll center top / 1600px auto transparent;
	}
	
	.agile {
		background: url("../img/heroes/agile-maxim-1.png") no-repeat scroll center top / 1600px auto transparent;
	}

	.cloud {
		background: url("../img/heroes/man-love-1600.jpg") no-repeat scroll center top / 1600px auto transparent;
	}
	
	.power {
		background: url("../img/heroes/crampton-locomotive-1600.jpg") no-repeat scroll center top / 1600px auto transparent;
	}
}

@media only screen and (max-device-width: 480px) {
	
	.tag-cloud {
		font-size: 200%;

		li { 
			float: left; 
			width: 100%;
			padding: 1em 0;
		}
	}
}
