---
title: d.j.graham's blog 
layout: index
---
{% for post in paginator.posts %}
<article class="post" id="{{ post.id}}" >
	<div class="post-title"><h2><a href="{{ post.url }}">{{ post.title }}</a></h2></div>
	<div class="post-meta"><i class="fa fa-calendar"></i><span class="date">{{ post.date | date_to_long_string }}</span></div>
	<div class="post-meta"><i class="fa fa-tags"></i><span class="tags">{% include post-tags.html tags=post.tags %}</span></div>
</article>	
{% endfor %}		
				
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}    
<div class="paginator">
  {% if paginator.previous_page %} <a href="{{ paginator.previous_page_path | replace: '//', '/' }}"><i class="fa fa-arrow-circle-left"></i> Newer</a>{% else %}<span><i class="fa fa-arrow-circle-left"></i> Newer</span>{% endif %}
  
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}<a href="{{ paginator.next_page_path | replace: '//', '/' }}">Older <i class="fa fa-arrow-circle-right"></i></a>{% else %}<span>Older <i class="fa fa-arrow-circle-right"></i></span>{% endif %}
</div>{% endif %}
