---
title: d.j.graham's blog
layout: index
---
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					{% for post in paginator.posts %}
						<article>
							<header>
								<h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
								<p>{{ post.date | date_to_long_string }}</p>
							</header>
							<p>{{ post.excerpt }} <a href="{{ post.url }}">more</a></p>
						</article>
					{% endfor %}		

					<!-- Pagination links -->
					<ul class="pager">
					  {% if paginator.previous_page %}
						{% if paginator.previous_page == 1 %}
							<li><a href="/" class="previous">Newer</a></li>
						{% else %}	
							<li><a href="/page{{ paginator.previous_page }}" class="previous">Newer</a></li>
						{% endif %}	
					  {% endif %}
					  {% if paginator.next_page %}
						<li><a href="/page{{ paginator.next_page }}" class="next">Older</a></li>
					  {% endif %}
					</ul>

				</div>
			</div>
		</div>
