<!-- article-header.html -->
<header>
{% if include.image %}
	<figure class="article-image">
		<img src="{{ site.url }}/{{ include.image }}" alt="{{ include.alttext }}" />
	</figure>
{% endif %}
<nav class="level is-mobile article-tags" id="article-meta">
{% if include.categories %}
	<div class="level-left">
		{% include post-tags.html tags=include.categories %}
	</div>	
{% endif %}
	<div class="level-right">
		{% include twitter-links.html url=include.url title=include.title %}
		{% include post-date.html date=include.date %}
	</div>	
</nav>
<h1 class="title is-size-1">{{ include.title }}</h1>
{% if include.subtitle %}<h2 class="subtitle is-size-3">{{ include.subtitle }}</h2>{% endif %}
</header>
<!-- article-header.html -->
