<!-- contact-info.html -->
<h3>Follow Me</h3>
<ul class="contact-links">
	<!-- icons needed -->
	<li><a title="email" href="{{ site.emaillink }}" target="_blank" ><i class="fa fa-envelope" aria-hidden="true"></i> <span class="tag">{{ site.email }}</span></a></li>
	<li><a title="twitter" href="{{ site.twitterurl }}" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i> <span class="tag">@{{ site.twitterid }}</span></a></li>
	<li><a title="github" href="{{ site.githuburl }}" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i> <span class="tag">github</span></a></li>
	<li><a title="linked in" href="{{ site.linkedinurl }}" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="tag">linked in</span></a></li>
	<li><a title="rss feed" href="{{ site.url }}/rss.xml" target="_blank" ><i class="fa fa-rss" aria-hidden="true"></i> <span class="tag">rss</span></a></li>
	<li><a title="atom feed" href="{{ site.url }}/atom.xml" target="_blank" ><i class="fa fa-rss" aria-hidden="true"></i> <span class="tag">atom</span></a></li>
</ul>
<!-- contact-info.html -->
