<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.name }} - {{ page.title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.tags %}<meta content="{{ page.tags | array_to_comma_string }}" name="keywords">{% endif %}
{% if page.description %}<meta name="description" content="{{ page.description }}">{% else %}<meta name="description" content="{{ site.description }}">{% endif %}
	<meta name="author" content="{{ site.author }}" >
	<link rel="shortcut icon" href="/favicon.ico">
	{% include twitter-card.html %}
	{% include feeds.html %}
	{% include stylesheets.html %}
	<!-- js -->
	<script defer async type="text/javascript" src="{{ site.url }}/js/prism.js"></script>
	<script defer async type="text/javascript" src="{{ site.url }}/js/bulma.js"></script>
	<!-- js -->
</head>
