<!-- pageheader.html -->
<div class="u-full-width">
	<div class="banner">
		<!-- <a title="home" href="/"><img title="home" src="/img/avatar.png" alt="home"></a> -->
		<a title="home" href="/">{{ site.name }}</a> - <em>{{ site.description }}</em>
	</div>
</div>
{% if page.hero %}
<header class="hero {{ page.hero }}"> 
{% else %}    
<header class="hero secret">
{% endif %}
	<div class="container"><div class="row"><div class="twelve columns"><!-- nothing --></div></div></div>
</header>


<!-- pageheader.html -->
