<footer>
	<div class="container">
		<div class="row">
			<div class="four columns">
				{% include social-links.html %}
			</div>
			<div class="four columns">
				{% include other-links.html %}
			</div>
			<div class="four columns">
				{% include search-box.html %}
			</div>
		</div>
		<div class="row">
			<div class="twelve columns colophon">
				<!-- hosting etc -->
				<ul class="list-inline">
					<li>{% include hosted-by.html %}</li>
					<li>{% include powered-by.html %}</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
