<!-- page-navigation.html -->
<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" title="home" href="/">
			<img src="/img/avatar-small.png" alt="{{ site.description }}" />
		</a>
	</div>
	
	<div class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" title="home" href="{{ site.url }}/">home</a>
			<a class="navbar-item" title="blog archive" href="{{ site.url }}/archive" >archive</a>
			<a class="navbar-item" title="my projects" href="{{ site.url }}/projects" >projects</a>
			<a class="navbar-item" title="about me" href="{{ site.url }}/about" >about</a>
		</div>
		<div class="navbar-end">
		{% include search-box.html %}
		</div>
    </div>
</nav>
<!-- page-navigation.html -->