<!-- page-footer.html -->
<footer class="footer">
	<div class="container has-text-centered has-vertical-spacing">
		<div class="nav-center">
			<a class="nav-item" title="rss feed"   href="{{ site.url }}/rss.xml"   target="_blank" rel="noreferrer"><i class="fas fa-3x fa-rss" aria-hidden="true"></i></a>
			<a class="nav-item" title="twitter"    href="{{ site.twitterurl }}"    target="_blank" rel="noreferrer"><i class="fab fa-3x fa-twitter" aria-hidden="true"></i></a>
			<a class="nav-item" title="github"     href="{{ site.githuburl }}"     target="_blank" rel="noreferrer"><i class="fab fa-3x fa-github" aria-hidden="true"></i></a>
			<a class="nav-item" title="linked in"  href="{{ site.linkedinurl }}"   target="_blank" rel="noreferrer"><i class="fab fa-3x fa-linkedin" aria-hidden="true"></i></a>
			<a class="nav-item" title="slideshare" href="{{ site.slideshareurl }}" target="_blank" rel="noreferrer"><i class="fab fa-3x fa-slideshare" aria-hidden="true"></i></a>
			<a class="nav-item" title="slideshare" href="https://sessionize.com/deejaygraham/" target="_blank" rel="noreferrer"><i class="fas fa-3x fa-chalkboard" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="container has-text-centered">
		<!-- hosting etc -->
		<div class="colophon has-vertical-spacing">{% include powered-by.html %}</div>
	</div>
</footer>
<!-- js -->
<script src="{{ site.url }}/js/prism.js"></script>
<script async type="text/javascript" src="{{ site.url }}/js/bulma.js"></script>
<!-- js -->
<!-- page-footer.html -->