<!-- post-related.html -->
{% assign firstCategory = include.categories | first %}

{% if site.categories[firstCategory].size > 1 %}
<div class="related-posts">
	<h3 class="is-size-3">Other Posts tagged with #{{ firstCategory }}</h3>
	<ul>
{% for related in site.categories[firstCategory] limit:6 %}
	{% unless include.url == related.url %}
		<li><a title="read post" href="{{ related.url }}">{{ related.title }}</a></li>
	{% endunless %}
{% endfor %}
	</ul>
</div>
{% endif %}
<!-- post-related.html -->
