<!-- social links.html -->
<div class="social">
<h4><i class="fa fa-plug" aria-hidden="true"></i> Connect</h4>
<ul class="no-list-dot list-inline large-icons">
	<li><a title="rss feed" href="{{ site.url }}/rss.xml" target="_blank" ><i class="fa fa-rss" aria-hidden="true"></i></a></li>
	<li><a title="twitter" href="{{ site.twitterurl }}" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li><a title="github" href="{{ site.githuburl }}" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i></a></li>
	<li><a title="instagram" href="{{ site.instagramurl }}" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	<li><a title="linked in" href="{{ site.linkedinurl }}" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	<li><a title="slideshare" href="{{ site.slideshareurl }}" target="_blank" ><i class="fa fa-slideshare" aria-hidden="true"></i></a></li>
<!-- <li><a href="{{ site.emaillink }}" target="_blank" ><i class="fa fa-envelope"></i><span class="tag">{{ site.email }}</span></a></li> -->
<!-- <li><a href="{{ site.url }}/atom.xml" target="_blank" ><i class="fa fa-rss"></i><span class="tag"></span></a></li> -->
</ul>
</div>
<!-- social links.html -->
