<!-- social links.html -->
<div class="social">
<ul class="no-list-dot list-inline large-icons">
	<li><a title="rss feed" href="{{ site.url }}/rss.xml" target="_blank" ><i class="fa fa-rss" aria-hidden="true"></i></a></li>
	<li><a title="twitter" href="{{ site.twitterurl }}" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li><a title="github" href="{{ site.githuburl }}" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i></a></li>
	<li><a title="instagram" href="https://www.instagram.com/dee.jay.graham/" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	<li><a title="linked in" href="{{ site.linkedinurl }}" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	<li><a title="slideshare" href="https://www.slideshare.net/deejaygraham" target="_blank" ><i class="fa fa-slideshare" aria-hidden="true"></i></a></li>
</ul>
</div>
<!-- social links.html -->
