<!-- social links.html -->
<ul class="social-links no-list-dot">
	<li><a href="{{ site.baseurl }}/rss.xml" target="_blank" ><i class="fa fa-rss"></i></a></li>
	<li><a href="{{ site.twitterurl }}" target="_blank" ><i class="fa fa-twitter"></i></a></li>
	<li><a href="{{ site.githuburl }}" target="_blank" ><i class="fa fa-github"></i></a></li>
	<li><a href="{{ site.linkedinurl }}" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
<!-- <li><a href="{{ site.emaillink }}" target="_blank" ><i class="fa fa-envelope"></i><span class="tag">{{ site.email }}</span></a></li> -->
<!-- <li><a href="{{ site.baseurl }}/atom.xml" target="_blank" ><i class="fa fa-rss"></i><span class="tag"></span></a></li> -->
</ul>
<!-- social links.html -->
