<!-- tile.html -->
<header>
    <nav class="level is-mobile tile-tags">
{% if include.categories %}
        <div class="level-left">
{% include post-tags.html tags=include.categories %}
        </div>	
{% endif %}
        <div class="level-right">
{% include twitter-links.html url=include.url title=include.title %}
{% include post-date.html date=include.date %}
        </div>	
    </nav>        
{% if include.thumbnail %}
    <div class="tile-thumbnail"><a href="{{ include.url }}"><img src="{{ site.url }}/{{ include.thumbnail }}" alt="{{ include.alttext }}" /></a></div>
{% endif %}
    <p class="title"><a href="{{ include.url }}">{{ include.title }}</a></p>
{% if include.subtitle %}
    <p class="subtitle">{{ include.subtitle }}</p>
{% endif %}
</header>
<!-- tile.html -->
