<nav class="level is-mobile">
    <div class="level-left">
        <a class="level-item" title="tweet" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{ site.twitterid }}" target="_blank">
            <span class="icon is-small"><i class="fas fa-share-square"></i></span>
        </a>
        <a class="level-item" title="follow" href="{{ site.twitterurl }}" target="_blank">
            <span class="icon is-small"><i class="fas fa-twitter"></i></span>
        </a>
    </div>
</nav>
