<!-- twitter-links.html -->
<div class="level-item">
    <a title="tweet" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ include.url }}&text={{ include.title }}&via={{ site.twitterid }}" target="_blank" rel="noreferrer">
        <span class="icon is-small"><i class="fas fa-share-square"></i></span>
    </a>
</div>
<div class="level-item">
    <a class="level-item" title="follow" href="{{ site.twitterurl }}" target="_blank" rel="noreferrer">
        <span class="icon is-small"><i class="fab fa-twitter-square"></i></span>
    </a>    
</div>   
<!-- twitter-links.html -->