.banner {
	background-color: $banner-background-colour;
	color: $banner-text-colour;
  padding-left: 1em;
}

  .banner-link {
    color: $banner-text-colour;
    font-weight: $weight-bold;
    text-decoration: none;
  }

  .banner-tag {
    font-style: italic;
    font-weight: $weight-light;
  }
