/* colour */

/* --- Named Colours --- */

// Neutrals
$white: #fff;
$subduedgray: #dbe6ec;
$lightgray: #99a9b3;
$bodygray: #67747c;
$titlegray: #3b444f;
$darkgray: #2c3643;

// Accents
$darkblue: #0D3C55;
$lightgreen: #B5C588;
 
// tint() 
// grayscale($purple-blue) 
// darken($purple-blue, 20%);

/* --- Named Colours --- */

/* --- Style Variables --- */

// Body
$body-background-colour: $white; 
$body-text-colour: $darkgray;
$body-decoration-colour: $lightgreen; 

// Links
$link-background-colour: $white;
$link-text-colour: $darkblue;
$link-decoration-colour: $darkblue;
$link-hover-colour: lighten($link-decoration-colour, 10%);
// $link-hover-background-colour: $grey;

// Header
$header-text-colour: $body-text-colour;
$secondary-text-colour: $darkblue;

$banner-background-colour: $darkgray;
$banner-text-colour: $subduedgray;

// Titles
$title-background-colour: transparentize($body-background-colour, .75);
$title-link-colour: $body-text-colour;

// Hero
$hero-background-colour: $title-background-colour;

// Paginator navigation
$pagination-box-colour: $lightgray;
$pagination-disabled-colour: $bodygray;
$pagination-disabled-text-colour: $subduedgray;

// Code
$code-background-colour: $subduedgray;
$code-text-colour: $body-text-colour;

// Quotes
$quotation-text-colour: $lightgray;
$quotation-decoration-colour: $lightgray;
$quotation-background-colour: $body-background-colour;
$quotation-border-colour: $body-background-colour;
$excerpt-text-colour: $body-text-colour;

// Footer
$footer-heading-colour: $darkgray;
$footer-background-colour: $bodygray; 
$footer-text-colour: $white; 
$footer-link-colour: $white;
$footer-link-hover-colour: $darkgray;
$footer-bottom-border-colour: $darkgray;

/* --- Style Variables --- */

/* --- Colour Styles --- */

body { 
	background-color: $body-background-colour; 
	color: $body-text-colour;
}

a {
	// background-color: $link-background-colour;
	color: $link-text-colour;
	border-bottom: 1px dotted $link-decoration-colour;

	&:hover {	
		//background-color: $link-hover-background-colour;
		color: $link-hover-colour;
		border-bottom: 1px dotted $link-hover-colour;
	}
}

code {
	background-color: $code-background-colour;
	color: $code-text-colour;
}

.banner {
	background-color: $banner-background-colour;
	color: $banner-text-colour;

	a {
		color: $banner-text-colour;
	}
}

header {

	p { 
		color: $header-text-colour; 
	}
}

// is this used ???
.excerpt {
	color: $excerpt-text-colour;
}

.site-title, .avatar {
	background: $title-background-colour;

	a {
		background-color: $title-background-colour;
		color: $title-link-colour;
	}

	p {
		color: $secondary-text-colour;
	}
}

.hero { 
	background-color: $hero-background-colour; 
}

.paginator {

	a { 
		border: 1px solid $pagination-box-colour; 
	} 

	em, span { 
		background-color: $pagination-disabled-colour; 
		border: 1px solid $pagination-disabled-colour; 
		color: $pagination-disabled-text-colour;
	}
}

blockquote {

	color: $quotation-text-colour;
	background-color: $quotation-background-colour;

	p:before {
		color: $quotation-decoration-colour;
	}

	p:after {
		color: $quotation-decoration-colour;
	}
}

footer { 
	background-color: $footer-background-colour; 
	color: $footer-text-colour; 

	border-bottom: 1em solid $footer-bottom-border-colour;

	a {
		background-color: $footer-background-colour;
		color: $footer-link-colour;
		border-bottom: 1px solid $footer-link-colour;

		&:hover {	
			color: $footer-link-hover-colour;
			border-bottom: 1px solid $footer-link-hover-colour;
		}
	}

	h2, h3, h4 {
	 	color: $footer-heading-colour;
	}
}

.post-summary {
	p {
		color: 	$secondary-text-colour;
	}
}

/* --- Colour Styles --- */
