/* colour */

/* Colours from http://chir.ag/projects/name-that-color/ */

/* --- Named Colours --- */

$colour-white: rgb(255, 255, 255);
$colour-mystic: rgb(219, 230, 236);
$colour-gullGray: rgb(153, 169, 179);
$colour-nevada: rgb(103, 116, 124);
$colour-brightGray: rgb(59, 68, 79);
$colour-ebonyClay: rgb(44, 54, 67);
$colour-tarawera: rgb(13, 60, 85);
$colour-pineGlade: rgb(181, 197, 136);

// Neutrals
$white: $colour-white;
$subduedgray: $colour-mystic;
$lightgray: $colour-gullGray;
$bodygray: $colour-nevada;
$titlegray: $colour-brightGray;
$darkgray: $colour-ebonyClay;

// Accents
$darkblue: $colour-tarawera;
$lightgreen: $colour-pineGlade;

// tint() grayscale($purple-blue) darken($purple-blue, 20%);

/* --- Named Colours --- */

/* --- Style Variables --- */

// Body
$body-background-colour: $white;
$body-text-colour: $darkgray;
$body-decoration-colour: $lightgreen;

// Links
$link-background-colour: $white;
$link-text-colour: $darkblue;
$link-decoration-colour: $darkblue;
$link-hover-colour: lighten($link-decoration-colour, 10%);
// $link-hover-background-colour: $grey;

// Header
$header-text-colour: $body-text-colour;
$secondary-text-colour: $darkblue;

$banner-background-colour: $darkgray;
$banner-text-colour: $subduedgray;

// Titles
$title-background-colour: transparentize($body-background-colour, .75);
$title-link-colour: $body-text-colour;

// Hero
$hero-background-colour: $title-background-colour;

// Paginator navigation
$pagination-box-colour: $lightgray;
$pagination-disabled-colour: $bodygray;
$pagination-disabled-text-colour: $subduedgray;

// Code
$code-background-colour: $subduedgray;
$code-text-colour: $body-text-colour;

// Quotes
$quotation-text-colour: $body-text-colour; // $lightgray;
$quotation-decoration-colour: $lightgray;
$quotation-background-colour: $body-background-colour;
$quotation-border-colour: $body-background-colour;
$excerpt-text-colour: $body-text-colour;

// Footer
$footer-heading-colour: $darkgray;
$footer-background-colour: $bodygray;
$footer-text-colour: $white;
$footer-link-colour: $white;
$footer-link-hover-colour: $darkgray;
$footer-bottom-border-colour: $darkgray;

/* --- Style Variables --- */
