// display a grid for alignment etc.

$grid-colour: #ccc;
$grid-spacing: 100px;
$grid-size: 101px;

body {
    background-image: repeating-linear-gradient(0deg,transparent,transparent $grid-spacing,$grid-colour $grid-spacing,$grid-colour $grid-size),repeating-linear-gradient(-90deg,transparent,transparent $grid-spacing,$grid-colour $grid-spacing,$grid-colour $grid-size);
    background-size: $grid-size $grid-size;
}
