/* layout */

body {
	font-family: $body-font;
	font-weight: $weight-normal;
	line-height: 1.6;
	letter-spacing: -0.003em;

	background-color: $body-background-colour;
	color: $body-text-colour;
}


h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: $weight-bold;
	font-style: normal;
	letter-spacing: 0;
}

.site-title {
	p {
		font-size: 150%;
	}
}

.banner {

	a {
		font-weight: $weight-bold;
		// text-transform: uppercase;
	}
}

a {
	text-decoration: none;
}

code {
	font-family: $code-font;
}

blockquote {
	font-size: 200%;
	font-style: italic;

	&:before {
		content: '"';
		content: open-quote;
		font-size: 3em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}

	&:after {
		content: '"';
		content: close-quote;
		font-size: 3em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}
}


.paginator {

	font-family: $heading-font;

	a {
		padding: 0.2em 0.4em;
		border: 1px solid $pagination-box-colour;
	}

	em, span {
		padding: 0.2em 0.4em;
		background-color: $pagination-disabled-colour;
		border: 1px solid $pagination-disabled-colour;
		color: $pagination-disabled-text-colour;
	}

	.button {
		padding: 0 10px;
	}
}

footer {
	font-family: $heading-font;

	h2, h3, h4 {
	 	letter-spacing:-0.02em;
	}
}

.large-icons {
	font-size: 250%
}


a {
	// background-color: $link-background-colour;
	color: $link-text-colour;
	border-bottom: 1px dotted $link-decoration-colour;

	&:hover {
		//background-color: $link-hover-background-colour;
		color: $link-hover-colour;
		border-bottom: 1px dotted $link-hover-colour;
	}
}

code {
	background-color: $code-background-colour;
	color: $code-text-colour;
}

.banner {
	background-color: $banner-background-colour;
	color: $banner-text-colour;

	a {
		color: $banner-text-colour;
	}
}

header {

	p {
		color: $header-text-colour;
	}
}

// is this used ???
.excerpt {
	color: $excerpt-text-colour;
}

.site-title, .avatar {
	background: $title-background-colour;

	a {
		background-color: $title-background-colour;
		color: $title-link-colour;
	}

	p {
		color: $secondary-text-colour;
	}
}

.hero {
	background-color: $hero-background-colour;
}

blockquote {

	color: $quotation-text-colour;
	background-color: $quotation-background-colour;

	p:before {
		color: $quotation-decoration-colour;
	}

	p:after {
		color: $quotation-decoration-colour;
	}

	small {
		color: $titlegray;
	}
}

footer {
	background-color: $footer-background-colour;
	color: $footer-text-colour;

	border-bottom: 1em solid $footer-bottom-border-colour;

	a {
		background-color: $footer-background-colour;
		color: $footer-link-colour;
		border-bottom: 1px solid $footer-link-colour;

		&:hover {
			color: $footer-link-hover-colour;
			border-bottom: 1px solid $footer-link-hover-colour;
		}
	}

	h2, h3, h4 {
	 	color: $footer-heading-colour;
	}
}

.post-summary {
	p {
		color: 	$secondary-text-colour;
	}
}


img {
	max-width: 100%;
	height: auto;
}

th, td {
	border-bottom: 0;
}

code {
	border-radius: 0;
}

.banner {
	//background: no-repeat url("/img/avatar.png");
	padding: 1em;
}

header {
	margin-bottom: 2em;


	h2, h3 {
		margin-bottom: 0;
	}

	p {
		margin: 0;
	}

	a.tag {
		margin-right: 0.4em;
	}
}

.avatar, .social {

	a {
		border: 0;
	}
}

.site-title {
	padding: 2em;

	h1 {
		margin: 0;
	}

	a {
		border: 0;
	}
}

.content {
	padding: 2em 0;

	p {
		line-height: 2;
	}
}


footer {
	padding-bottom: 2em;
}

.meta {
	padding: 0 0 2em 0;
}

.tag-cloud, .social, .other {
	padding-top: 2em;
}

.tag-cloud li {
	float: left;
	width: 25%;
}

.no-list-dot {
	list-style-type: none;
}

.list-inline {
	list-style-type: none;
	margin-bottom: 0;

	li {
		display: inline;
	}
}

.powershell {

		font-family: "Courier New", courier, monospace;
		color: rgb(255, 255, 255);
		background-color: rgb(1,36, 86);
}

.colophon {
	padding-top: 2em;
}

/* hero styles */
.hero {
	display:none;
}

@media (min-width: 750px) {

	.hero {
		padding: 10em;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.waste {
		background-image: url("/img/heroes/hero-muda-muri-mura.png");
	}

	.agile {
		background-image: url("/img/heroes/hero-agile-maxim-1.png");
	}

	.cloud {
		background-image: url("/img/heroes/hero-man-love.jpg");
	}

	.power {
		background-image: url("/img/heroes/hero-crampton-locomotive.jpg");
	}

	.secret {
		background-image: url("/img/heroes/hero-secret-harbour.jpg");
	}
}

@media only screen and (max-device-width: 480px) {

	.tag-cloud {
		font-size: 150%;

		li {
			float: left;
			width: 100%;
			padding: 0.5em 0;
		}
	}
}

/* layout */

// refactoring and debugging

/*[class*="rf-"] {
	outline: 5px solid green;
}

[class]:not([class*="rf-"]) {
	outline: 5px solid red;
}*/
