.paginator {

  font-family: $heading-font;

}

.paginator-box {

		padding: 0.2em 0.4em;
		border: 1px solid $pagination-box-colour;
	}


.paginator-box-unavailable  {
	padding: 0.2em 0.4em;
	background-color: $pagination-disabled-colour;
	border: 1px solid $pagination-disabled-colour;
	color: $pagination-disabled-text-colour;
}
