// Overrides 

$tile-rounding: 10px;

.tile-thumbnail {
	img {
      -webkit-border-radius: $tile-rounding; 
      -moz-border-radius: $tile-rounding; 
      border-radius: $tile-rounding; 
      background-clip: padding-box;
	}
}

$dj-default-padding: 1em;

.has-bottom-spacing {
	padding-bottom: $dj-default-padding;
}

.has-top-spacing {
	padding-top: $dj-default-padding;
}

.has-vertical-spacing {
	padding: $dj-default-padding 0;
}

.post {
	header {
		margin-bottom: 2em;
	}
} 

// tighten meta data with tile image
#article-meta, .level.tile-tags {
	margin-bottom:0.5rem;
}
