/* typography */

$heading-font: 'Lato', 'Lucida Grande', 'Tahoma', sans-serif;
// $heading-font: 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Sans', Geneva, Verdana, sans-serif;
$body-font: $heading-font; //Georgia, Garamond, Cambria, Times, 'Times New Roman', serif;
$code-font: Consolas, Monaco, "Lucida Console", "Courier New", courier, monospace;

$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 500;
$weight-bold: 700;

/* typography */
