{% extends 'layouts/base.njk' %}
{% block precontent %}

{% if thumbnail %} 
<section class="hero">
  <figure class="image">
    <img src="{{ thumbnail }}" alt="{{ title }}">
  </figure>
</section>
{% endif %}

{% endblock %}

{% block content %}

<h1 class="title is-1">{{ title }} </h1>

{{ content | safe }}

{% endblock %}

{% block jsonld %}
	{% include "partials/structured-data/about.njk" %}
{% endblock %}
