{% extends 'layouts/base.njk' %}
{% block precontent %}

{% if thumbnail %}
<section class="py-4" aria-label="Featured image">
  <figure class="m-6">
    <img class="w-full h-auto" src="{{ thumbnail }}" alt="{{ title }}">
  </figure>
</section>
{% endif %}

{% endblock %}

{% block content %}
<article>
  <h1 class="text-4xl font-bold">{{ title }} </h1>
  {{ content | safe }}
</article>
{% endblock %}

{% block jsonld %}
	{% include "partials/structured-data/about.njk" %}
{% endblock %}
