<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{%- if title -%}{{ title }} | {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>

    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    
    <title>{{ title }}</title>

    {% include "partials/meta.njk" %}
  </head>
  <body>
    {% include "partials/siteheader.njk" %}

    <main class="main container mb-6" role="main" id="main" tablindex="-1">
      <section class="section">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
      </section>

      <section class="section">
      {% block postcontent %}{% endblock %}
      </section>
    </main>
    
    {% include "partials/sitefooter.njk" %}
    
    {% block scripts %}
    {% include "partials/basescripts.njk" %}
    {% endblock %}
  </body>
</htnl>
