<!DOCTYPE html>
<html lang="en">
  <head>
    {# 1. Charset/Viewport #}
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# 2. Title #}
{%- if title -%}
{%- set pageTitle %}{{ title }} | {{ site.title }}{% endset -%}
{%- else -%}
{%- set pageTitle %}{{ site.title }}{% endset -%}
{%- endif -%}
    <title>{{ pageTitle }}</title>
    {# 3. Synchronous JS #}
    {# 4. CSS #}
    {% include "partials/head/stylesheets.njk" %}
    {# 5. Preloads #}
    {# 6. Defer #}
    {# 7. Meta tags, Icons, Open Graph #}
    {%- favicons site.favicon -%}
    {% include "partials/head/meta.njk" %}
  </head>
  <body>
    {% block header %}
    {% include "partials/siteheader.njk" %}
    {% endblock %}

    <main class="main container mb-6" id="main" >
      {% block precontent %}{% endblock %}

      <section class="section pt-0">
	      <div class="content is-medium">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
        </div>
      </section>

      {% block postcontent %}{% endblock %}
    </main>

    {% block footer %}
    {% include "partials/sitefooter.njk" %}
    {% poison %}
    {% endblock %}

    {% block scripts %}
      {% include "partials/basescripts.njk" %}
      {% if mermaid %}
    	{% include "partials/mermaid-diagrams.njk" %}
      {% endif %}
    {% endblock %}
	{% block jsonld %}
		{% include "partials/structured-data/site.njk" %}
    {% endblock %}
  </body>
</html>
