{% extends "layouts/base.njk" %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<div class="site-prose font-mono">
{{ content | safe }}
</div>
{% endblock %}
