{% extends "layouts/base.njk" %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<h1 class="page-title font-mono">{{ title }}</h1>
<div class="site-prose font-mono">
{{ content | safe }}
</div>
{% endblock %}
