{% extends 'layouts/base.njk' %}

{% block content %}
<article>
{% block articleheader %}
  <header class="article-header">
    <h1 class="page-title">{{ title }}</h1>
    <nav class="repel article-meta article-tags" id="article-meta" aria-label="Post metadata">
      <p class="cluster mb-0">
        <span class="date"><time datetime="{{ page.date | dateISO }}">{{ page.date | dateFull }}</time></span>
        <span id="reading-time" class="reading-time only-desktop">{% include 'icons/reading-timer.svg' %}{{ content | readingTime }}</span>
        <a id="read-aloud" href="#" class="read-aloud narrator" aria-label="Read this page aloud">{% include 'icons/narrator.svg' %} Read this aloud</a>
      </p>
      {% if tags %}
      <p class="cluster only-desktop-flex mb-0" aria-label="Tags">
        {%- for tag in tags -%}
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl }}">#{{ tag }}</a>{% if not loop.last %} | {% endif %}
        {%- endfor -%}
      </p>
      {% endif %}
    </nav>
  </header>
{% endblock %}

{% block articlebody %}
  <div class="site-prose">
{{ content | safe }}
  </div>
{% endblock %}
</article>
{% endblock %}

{% block postcontent %}
{% if tags %}
  <hr class="divider" />
  {% set related = collections.posts | relatedPosts(page, tags, 6) %}
  {% if related.length > 0 %}
  <aside class="related-posts" aria-labelledby="related-posts-heading">
    <h2 id="related-posts-heading" class="section-title">Related posts</h2>
    {% set postcardlist = related %}
    {% include "partials/post-card-list.njk" %}
  </aside>
  {% endif %}
{% endif %}
{% endblock %}

{% block jsonld %}
	{% include "partials/structured-data/post.njk" %}
{% endblock %}
