{% extends 'layouts/base.njk' %}

{% block precontent %}

{% if thumbnail %} 

<section class="hero">
  <figure class="image">
    <img src="{{ thumbnail }}" alt="{{ title }}">
  </figure>
</section>

{% endif %}

{% endblock %}

{% block content %}

<section class="section">
<div class="content is-medium">
  <span>{{ date }} </span>
  {% if tags %}
  {% for tag in tags %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<span class="tag"><a href="{{ tagUrl }}">{{ tag }}</a></span> 
  {% endfor %}
  {% endif %}
  <h1>{{ title }}</h1>
    {{ content | safe }}
</div>
</section>

{% endblock %}

{% block postcontent %}

{% if tags %}
<section class="section">
  {% set relatedTag = tags | randomItem %}
  {% if collections[relatedTag].length > 1 %}
  <aside>
    <div class="related-posts>
      <h3 class="is-size-3">More posts tagged with #{{ relatedTag }}</h3>
      <ul>
      {% set related = collections[relatedTag] | excludePost(page) | limit(6) %}
      {% for item in related %}
        <li><a title="read {{ item.data.title }}" href="{{ item.url }}">{{ item.data.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </aside>
  {% endif %}
</section>
{% endif %}

{% endblock %}
