{% extends 'layouts/base.njk' %}

{% block content %}
<h1 class="title is-1">{{ title }} </h1>

{% if comment %}
<section class="section">
{{ comment }}
</section>
{% endif %}

<figure class="quote">
  <blockquote>
  {{ content | safe }}
  </blockquote>
  <figcaption>
  {% if attribution %}&mdash; {{ attribution }}{% endif %}{% if publication %}, {{ publication }}{% endif %}
   </figcaption>
</figure>

{% endblock %}
