---
layout: base.njk
---
<article class="message is-large">
  <div class="message-header">
    <p>{{ title }} 
{% if data.attribution %}- {{ data.attribution }}{% endif %}
{% if data.publication %}in {{ data.publication }}{% endif %}
    </p>
  </div>
  <div class="message-body">
    {{ content | safe }}
  </div>
</article>
