{% extends 'layouts/base.njk' %}

{% block content %}

<h1 class="title is-1">{{ title }}</h1>

<search>
<form class="my-6" role="search" aria-label="Blog post search" autocomplete="off">
	<div class="field">
		<label for="search-box" class="label">keywords</label>
		<div class="control">
			<input type="text" id="search-box" class="input search-box" name="query" placeholder="search for posts" spellcheck="false" >
		</div>
	</div>
</form>
</search>

<div id="search-results">
{# Empty container for results #}
</div>

<hr />

<h2 class="title is-4">Recent Posts</h2>

{% set postcardlist = collections.posts | limit(6) %}
{% include "partials/post-card-list.njk" %}

{% endblock %}

{% block scripts %}
{% include "partials/searchscripts.njk" %}
{% endblock %}
