{% extends 'layouts/base.njk' %}
{% set title = "Search the blog " %}

{% block content %}
<h1 class="title is-1">{{ title }} </h1>

<!-- Search form -->
<form>
	<div class="field">
		<div class="control">
			<input type="text" id="search-box" class="input search-box" name="query" placeholder="search">
		</div>
	</div>
</form>
<!-- end search form -->

<section class="section">
	<ol id="search-results">
		{# Empty container for results #}
	</ol>
</section>
{% endblock %}

{% block scripts %}

{% include "partials/basescripts.njk" %}
<script type="text/javascript" src="/js/elasticlunr.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>

{% endblock %}
