{% extends 'layouts/post.njk' %}

{% block content %}

{{ content | safe }}

<section class="sketchnote">
    <figure class="image">
        <img src="{{ sketchnote.url }}" alt="{{ sketchnote.alt }}" />
    </figure>
</section>

<aside class="mt-6">
    {% if sketchnote.source %}
        <h4>Source</h4>
        {% if sketchnote.source.url %}
        <p><a href="{{ sketchnote.source.url }}">{{ sketchnote.source.name }}</a></p>
        {% else %}
        <p>{{ sketchnote.source.name }}</p>
        {% endif %}
    {% endif %}
            
    {% if sketchnote.speaker %}
        <h4>About the Speaker</h4>
        {% if sketchnote.speaker.url %}
        <p><a href="{{ sketchnote.speaker.url }}">{{ sketchnote.speaker.name }}</a></p>
        {% else %}
        <p>{{ sketchnote.speaker.name }}</p>
        {% endif %}
    {% endif %}
                    
    {% if sketchnote.event %}
        <h4>About the Event</h4>
        {% if sketchnote.event.url %}
        <p><a href="{{ sketchnote.event.url }}">{{ sketchnote.event.name }}</a></p>
        {% else %}
        <p>{{ sketchnote.event.name }}</p>
        {% endif %}
    {% endif %}
</aside>

{% include "partials/ccboilerplate.njk" %}

{% endblock %}
