{% extends 'layouts/post.njk' %}

{% block content %}

{{ content | safe }}

<section class="sketchnote">
    <table class="table">
        <thead>
            <tr>
        {% if sketchnote.source %}<th>Source</th>{% endif %} 
        {% if sketchnote.speaker %}<th>About the Speaker</th>{% endif %}
        {% if sketchnote.event %}<th>About the Event</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
     {% if sketchnote.source %}<td>{% if sketchnote.source.url %}<a href="{{ sketchnote.source.url }}">{{ sketchnote.source.name }}</a>
        {% else %}{{ sketchnote.source.name }}{% endif %}</td>
    {% endif %}
    {% if sketchnote.speaker %}<td>{% if sketchnote.speaker.url %}<a href="{{ sketchnote.speaker.url }}">{{ sketchnote.speaker.name }}</a>
        {% else %}{{ sketchnote.speaker.name }}{% endif %}</td>
    {% endif %}
    {% if sketchnote.event %}<td>{% if sketchnote.event.url %}<a href="{{ sketchnote.event.url }}">{{ sketchnote.event.name }}</a>
    {% else %}{{ sketchnote.event.name }}{% endif %}</td>
    {% endif %}
            </tr>
        </tbody>
    </table>
    <figure class="image">
        <img src="{{ sketchnote.url }}" alt="{{ sketchnote.alt }}" />
    </figure>
</section>

{% include "partials/ccboilerplate.njk" %}

{% endblock %}
