    <link rel="stylesheet" type="text/css" href="/css/site.css" >
    {# Tailwind + daisyUI: loaded after Bulma so utilities can opt-in during migration #}
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" >
