// ------ brand colours ---------

$alto: #dfdede; // light gray
$shark: #25292d; // black
$thunderbird: #ce1a1d; // red
$oslo-gray: #8c8d8e; // dark gray

// ------ end ---------

// ------ bulma global variables ---------

$grey-dark: $shark;
$grey-light: $oslo-gray;
$primary: $thunderbird;
$link: $oslo-gray;

// ------ end ---------

// ------ bulma component variables ---------

// $control-border-width: 2px;



// ------ end ---------


//$primary: $thunderbird;

//$link: $thunderbird;
//$link-hover: lighten($link, 10%);
//$tag-color: $thunderbird;

//$info: $cyan
//$success: $green
//$warning: $yellow
//$danger: $red
//$dark: $grey-darker
//$text: $grey-dark