$anchor-text-colour: rgb(13, 60, 85);
$anchor-decoration-colour: $anchor-text-colour;
$anchor-hover-colour: lighten($anchor-decoration-colour, 10%);

a {
	color: $anchor-text-colour;
	text-decoration: none;
	border-bottom: 1px dotted $anchor-decoration-colour;
	
	&:hover {
		color: $anchor-hover-colour;
	}
}
