$alto: #dfdede; // light gray
$shark: #25292d; // black
$thunderbird: #ce1a1d; // red
$oslo-gray: #8c8d8e; // dark gray

//$primary: $thunderbird;

$link: $thunderbird;
$link-hover: lighten($link, 10% )

//$info: $cyan
//$success: $green
//$warning: $yellow
//$danger: $red
//$dark: $grey-darker
//$text: $grey-dark