// https://bulma.io/documentation/modifiers/typography-helpers/


// ------ brand colours ---------

$alto: #dfdede; // light gray
$shark: #25292d; // black
$thunderbird: #ce1a1d; // red
$oslo-gray: #8c8d8e; // dark gray

// ------ end ---------

// ------ bulma global variables ---------

$family-serif: Georgia, Garamond, serif;
$family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

$family-monospace: "Courier New", courier, monospace;

$family-primary: $family-sans-serif;
$family-secondary: $family-serif;
$family-code: $family-monospace;


// ------ end ---------

/*blockquote {
	font-family: Georgia, Garamond, serif;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	font-size: 150%;
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}
    */