body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

p, blockquote {
	font-family: Georgia, Gramond, serif;
}

blockquote {
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 150%;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
