---
permalink: archive/index.html
title: posts
layout: base.njk
---

<section aria-label="All posts">
{% set postcardlist = collections.posts %}
{% include "partials/post-card-list.njk" %}
</section>
