---
permalink: index.html
title: home
layout: base.njk
---

{% set postcardlist = collections.posts | limit(12) %}
{% include "partials/post-card-list.njk" %}

<p class="has-text-right"><a href="{{ site.url }}/archive/">See All Posts</a></p>
