---
permalink: index.html
title: blog
layout: base.njk
changefreq: weekly
---
<h1 class="page-title">blog&gt;<span class="animated-cursor">_</span></h1>

<section aria-label="Recent posts">
{% set postcardlist = collections.posts | limit(18) %}
{% include "partials/post-card-list.njk" %}
</section>

<p class="text-end mt-m"><a href="{{ site.url }}/archive/">See All Posts</a></p>
