---
permalink: index.html
title: blog
layout: base.njk
---
<h1 class="title is-1">Blog</h1>

{% set postcardlist = collections.posts | limit(18) %}
{% include "partials/post-card-list.njk" %}

<p class="has-text-right"><a href="{{ site.url }}/archive/">See All Posts</a></p>
