---
permalink: mentoring/index.html
layout: base.njk
title: Mentoring and Teaching
---

I'm passionate about helping the next generation of software developers grow their
skills and build meaningful careers in technology. Over the years, I have been fortunate to work with talented individuals and teams at a variety of stages in their journey.


## Current Mentoring


### We Think Code - South Africa

I'm a second-year mentor for cohorts attending training at [We Think Code](), 
a non-profit coding school in South Africa. We Think Code provides free, world-class software engineering education to talented individuals who might not 
otherwise have access to such opportunities.


### What I Do

* Guide students through complex programming concepts
* Code reviews, ensemble and pair programming sessions
* Career advice and industry insights
* Help students transition from bootcamp to professional roles


### STEM Ambassador

As a STEM Ambassador, I specialize in supporting teachers who are called on to deliver coding sessions for students, helping them to get familiar with the ideas 
of physical computing, python and building hands-on, creative projects that make 
technology approachable and fun.


### Activities include

* School visits and coding workshops
* micro:bit programming sessions
* Encouraging underrepresented groups in tech
* Making programming accessible and engaging


