---
layout: base.njk
permalink: offline.html
eleventyExcludeFromCollections: true
excludeFromSitemap: true
title: invalid argument - d.j.graham's blog is missing
---

<h1 class="title is-1">Erm...</h1>

<p>Hello. It looks like there's no internet connection at the moment. </p>

<p>...And the page that you wanted isn't available for offline viewing either. Sorry about that.</p>
