---
permalink: offline.html
layout: base.njk
title: Erm...
---

Hello. It looks like there's no internet connection at the moment. 

...And the page that you wanted isn't available for offline viewing either. Sorry about that.
