---
permalink: projects/index.html
title: projects
layout: base.njk
---

<h1 class="page-title">things what i have made</h1>
<p class="mb-m text-step-1 text-muted">Here are some of the places you can see some of my open source work:</p>

{% set postcardlist = projects %}
{% include "partials/post-card-list.njk" %}
