---
permalink: projects/index.html
title: projects
layout: base.njk
---

<h1>Things What I Have Made</h1>
<p>Here are some of the places you can see some of my open source work:</p>

{% set postcardlist = projects %}
{% include "partials/post-card-list.njk" %}
