---
permalink: search/index.html
title: searching d.j.graham's blog
layout: base.njk
---

<div id="noResultsFound" style="display: none"><p>No results found.</p></div>

<script type="text/javascript" src="/js/elasticlunr.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
