---
permalink: tags/index.html
title: posts by tag
layout: base.njk
---
<div class="tags are-large">
{% for tag in collections.posts | getAllTags | filterTagList %}
{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
{%- set postCount = collections[tag].length %}
<span class="tag is-hoverable"><a href="{{ tagUrl }}">{{ tag }} ({{ postCount }})</a></span>
{% endfor -%}
</div>
