---
permalink: tags/index.html
title: posts by tag
layout: base.njk
---

{% set allPosts = collections.posts.length %}

<div class="row columns is-multiline">
{% for tag in collections.posts | getAllTags | filterTagList %}
{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
{% set postWithTag = collections[tag].length %}
<div class="column is-4">
	<div class="card large is-shadowless">
		<div class="card-content">
			<a href="{{ tagUrl }}">
				<p class="title is-4">#{{ tag }}</p>
				<p>{{ postWithTag }} post{% if postWithTag != 1 %}s{% endif %}</p>
				<p><progress class="progress is-small is-link" value="{{ postWithTag }}" max="{{ allPosts }}">{{ tagCount }}%</progress>
				</p>
			</a>
		</div>
	</div>
</div>  
{% endfor %}
</div>
