---
pagination:
  data: collections
  size: 1
  alias: tag
layout: base.njk
eleventyComputed:
  title: posts tagged with #{{ tag }}
permalink: /tags/{{ tag | slugify }}/
excludeFromSitemap: true
---

<h1>Posts tagged with #{{ tag }}</h1>

{% set taglist = collections[ tag ] %}
{% set postcardlist = taglist | reverse %}
{% include "partials/post-card-list.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
