---
permalink: talks/index.html
layout: base.njk
title: talks
---

<div class="grid is-col-min-12">
{% for item in talks %}
	<div class="cell">
    		<div class="card">
			<a href="{{ item.url }}" target="_blank" rel="noreferrer">
	  			<div class="card-image">
					<figure class="image">
	  					<img src="{{ item.thumbnail }}" />
					</figure>
				</div>
	   			
		  		<div class="card-content">
	    				<p class="title">{{ item.title }}</p>
					{% if item.subtitle %}
	    				<p class="subtitle">{{ item.subtitle }}</p>
	    				{% endif %}
	    			</div>
			</a>
  		</div>
	</div>  
{% endfor %}
</div>
