---
permalink: talks/index.html
layout: base.njk
title: talks
---
<h1 class="title is-1">Previous Talks</h1>
<div class="row columns is-multiline">
{% for item in talks %}
{% include "partials/external-card.njk" %}
{% endfor %}
</div>
