---
permalink: timeline/index.html
title: timeline
layout: base.njk
---
{# hidden page not included in navigation #)

<ul>
{% for event in timeline %}
  {% set date = event.date %}
  {% set title =  event.title %}
  <li>{{ date }} - {{ title }}</li>
{% endfor %}
</ul>
