$banner-text: #C8CDD0;
$banner-link: $banner-text;
$banner-link-hover: #F2F2F3;
$banner-background: #415058;

.banner {
	color: $banner-text;
	background-color: $banner-background;
	padding: 1em 0;
	
	a {
		color: $banner-text;
	}
}
