// colours from https://anice.red 

$footer-text: #C8CDD0;
$footer-link: $footer-text;
$footer-link-hover: #F2F2F3;
$footer-background: #415058;
$footer-top-border: #1F292E;

.footer {
	color: $footer-text;
	background-color: $footer-background;
	border-top: 2px solid $footer-top-border;
	padding: 2em 0;
}

	.footer h4 {
		font-size: 75%;
	}

	.footer a {
		color: $footer-link;
	}

		.footer a:hover { 
			color: $footer-link-hover;
		}