$hero-background: #415058;

.hero {
	background-color: $hero-background;
	display:none;
}

$heroes: (
	"agile": "/img/heroes/hero-muda-muri-mura.png",
	"blank": "/img/heroes/hero-bomb.png",
	"cloud": "/img/heroes/hero-man-love.jpg",
	"code": "/img/heroes/hero-dddnorth.jpg",
	"giraffes": "/img/heroes/giraffes.jpg",
	"makers": "/img/heroes/hero-makers-and-creators.jpg",
	"microbit": "/img/heroes/hero-microbit.jpg",
	"minecraft": "/img/heroes/hero-rpi-2.jpg",
	"power": "/img/heroes/hero-crampton-locomotive.jpg",
	"secret": "/img/heroes/hero-secret-harbour.jpg",
	"waste": "/img/heroes/hero-muda-muri-mura.png"
); 

@media (min-width: 750px) {

	.hero {
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: block;
		width:100%;
	}

	@each $name, $image in $heroes {
		.#{$name} {
			background-image: url($image);
		}
	}
}
