$hero-background: #415058;

.hero {
	background-color: $hero-background;
	display:none;
}

@media (min-width: 750px) {

	.hero {
		padding: 10em;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.waste {
		background-image: url("/img/heroes/hero-muda-muri-mura.png");
	}

	.agile {
		background-image: url("/img/heroes/hero-muda-muri-mura.png");
	}

	.cloud {
		background-image: url("/img/heroes/hero-man-love.jpg");
	}

	.code {
		background-image: url("/img/heroes/hero-dddnorth.jpg");
	}
	
	.power {
		background-image: url("/img/heroes/hero-crampton-locomotive.jpg");
	}

	.secret {
		background-image: url("/img/heroes/hero-secret-harbour.jpg");
	}

	.makers {
		background-image: url("/img/heroes/makers-and-creators.jpg");
	}
	
	.minecraft {
		background-image: url("/img/heroes/rpi-2.jpg");
	}
	
	.microbit {
		background-image: url("/img/heroes/hero-microbit.jpg");
	}
	
}

