$hero-background: #415058;

.hero {
	background-color: $hero-background;
	display:none;
}

@media (min-width: 750px) {

	.hero {
		//padding: 10em 0;
		display: block;
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: cover;
		height: 450px;
	}

	.waste {
		background-image: url("/img/heroes/hero-muda-muri-mura.png");
	}

	.agile {
		background-image: url("/img/heroes/hero-muda-muri-mura.png");
	}

	.cloud {
		background-image: url("/img/heroes/hero-man-love.jpg");
	}

	.code {
		background-image: url("/img/heroes/hero-dddnorth.jpg");
	}

	.power {
		background-image: url("/img/heroes/hero-crampton-locomotive.jpg");
	}

	.secret {
		background-image: url("/img/heroes/hero-secret-harbour.jpg");
	}

	.makers {
		background-image: url("/img/heroes/hero-makers-and-creators.jpg");
	}

	.minecraft {
		background-image: url("/img/heroes/hero-rpi-2.jpg");
	}

	.microbit {
		background-image: url("/img/heroes/hero-microbit.jpg");
	}

	.blank { 
		background-image: url("/img/heroes/hero-bomb.png");
	}
	
	.giraffes {
		background-image: url("/img/heroes/giraffes.jpg");
		height: 20em;
		opacity: 0.5;
		
	}
}

