// Paginator navigation
/* $pagination-box-colour: #F2F2F3;
$pagination-disabled-colour: #C8CDD0;
$pagination-disabled-text-colour: #C8CDD0;

.paginator {
	padding: 1em 0;
	
	a {
		//padding: 0.2em 0.4em;
		// border: 1px solid $pagination-box-colour;
	}

	em, span {
//		padding: 0.2em 0.4em;
		//background-color: $pagination-disabled-colour;
		//border: 1px solid $pagination-disabled-colour;
		//color: $pagination-disabled-text-colour;
	}

	.button {
		padding: 0 10px;
	}
}
*/