.search-box {
	float:right;
	margin: 6px 0;
	width: auto;
	
	form {
		margin: 0;
	}
}
	
	#search-box {
		display: inline-block;
		width: 200px;
		height: auto;
		border: 1px solid #e0e1dd;
		margin: 0;
	}
	
	#search-button {
		padding: 0 10px;
		margin: 0;
	}
