{# json-ld for about page #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.author }}",
  "jobTitle": "Software Architect",
  "description": "Software architect, extreme programmer, microbit hacker, and STEM ambassador",
  "url": "{{ site.url }}"
}
</script>
