{# json-ld for blog posting #}
{%- if page.description %}
{%- set pageDescription %}{{ page.description }}{% endset -%}
{%- elif content %}
{%- set generatedDescription %}{{ content | excerpt }}{% endset -%}
{%- if generatedDescription and generatedDescription | trim %}
{%- set pageDescription %}{{ generatedDescription }}{% endset -%}
{%- else %}
{%- set pageDescription %}{{ site.description }}{% endset -%}
{%- endif %}
{%- else %}
{%- set pageDescription %}{{ site.description }}{% endset -%}
{%- endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "description": "{{ pageDescription }}",
  "url": "{{ site.url + page.url }}",
  "datePublished": "{{ page.date | dateISO }}",
  "dateModified": "{{ site.date }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}",
    "url": "{{ site.url + '/about/' }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url + site.logo }}"
    }
  },
  {%- if tags %}
  "keywords": "{{ tags | arrayToCommaString }}",
  {%- endif %}
  "image": [
    "{{ site.url }}/img/previews/{% SocialImageName page.fileSlug %}"
  ]
} 
</script>
