{# json-ld for blog posting #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "description": "{{ description or excerpt }}",
  "url": "{{ site.url + page.url }}",
  "datePublished": "{{ date | date('YYYY-MM-DD') }}",
  "dateModified": "{{ site.date or date | date('YYYY-MM-DD') }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}",
    "url": "{{ site.url }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url + site.logo }}"
    }
  },
  {%- if tags -%}
  "keywords": {{ tags | join(", ") }}
  {%- endif -%}
} 
</script>
