{# json-ld for blog posting #}
{%- if page.data.description %}
{%- set pageDescription = page.data.description | trim -%}
{%- elif content %}
{%- set generatedDescription = content | excerpt | trim -%}
{%- if generatedDescription %}
{%- set pageDescription = generatedDescription -%}
{%- else %}
{%- set pageDescription = site.description | trim -%}
{%- endif %}
{%- else %}
{%- set pageDescription = site.description | trim -%}
{%- endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "description": "{{ pageDescription }}",
  "url": "{{ site.url + page.url }}",
  "datePublished": "{{ page.date | dateISO }}",
  "dateModified": "{{ site.date }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}",
    "url": "{{ site.url + '/about/' }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url + site.logo }}"
    }
  },
  {%- if tags %}
  "keywords": "{{ tags | arrayToCommaString }}",
  {%- endif %}
  "image": [
    "{{ site.url }}/img/previews/{{ (page.fileSlug or 'index') | socialImageFile }}"
  ]
} 
</script>
