{%- set pageUrl = site.url + page.url %}
{%- set schema = {
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": site.url + "#website",
      "url": site.url,
      "name": site.name,
      "description": site.description,
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": site.url + "/search/"
        }
      }
    },
    {
      "@type": "WebPage",
      "@id": pageUrl + "#webpage",
      "url": pageUrl,
      "name": title,
      "description": description,
      "isPartOf": {
        "@id": site.url + "#website"
      }
    }
  ]
} %}
{%- if layout == "post" %}

  {%- if page.data.description %}
  {%- set pageDescription = page.data.description | trim -%}
  {%- elif content %}
  {%- set generatedDescription = content | excerpt | trim -%}
  {%- if generatedDescription %}
  {%- set pageDescription = generatedDescription -%}
  {%- else %}
  {%- set pageDescription = site.description | trim -%}
  {%- endif %}
  {%- else %}
  {%- set pageDescription = site.description | trim -%}
  {%- endif %}

  {%- set articleDate = page.date | dateISO %}
  {%- set articleImage = title | slugify %}
  
  {%- set article = {
    "@type": "BlogPosting",
    "@id": pageUrl + "#article",
    "headline": title,
    "description": pageDescription,
    "datePublished": articleDate,
    "dateModified": articleDate,
    "mainEntityOfPage": {
      "@id": pageUrl + "#webpage"
    },
    "author": {
      "@type": "Person",
      "name": site.author,
      "url": site.url,
      "jobTitle": "Software Architect",
      "description": "Software architect, extreme programmer, microbit hacker, sketchnoter, and STEM ambassador"
    },
    "publisher": {
      "@type": "Organization",
      "name": site.name,
      "logo": {
        "@type": "ImageObject",
        "url": site.url + site.logo
      }
    },
    "keywords": tags | arrayToCommaString,
    "image": [
      site.url + "/img/previews/" + articleImage + ".jpg"
    ]
    }
  %}

  {% set schema = {
    "@context": schema["@context"],
    "@graph": schema["@graph"].concat([article])
  } %}

{% endif -%}
<script type="application/ld+json">
{{ schema | dump(2) | safe }}
</script>
