{# json-ld for main site #}
{%- set websiteSchema = {
  "@context": "https://schema.org",
  "@type": "Website",
  "name": site.name,
  "description": site.description,
  "url": site.url,
  "author": {
    "@type": "Person",
    "name": site.author,
    "url": site.url
  },
  "publisher": {
    "@type": "Organization",
    "name": site.name,
    "url": site.url
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": site.url + "/search/"
    },
  }
} -%}

<script type="application/ld+json">
{{ websiteSchema | dump | safe }}
</script>
