---
permalink: /feed.json
eleventyExcludeFromCollections: true
---
{
    "version": "https://jsonfeed.org/version/1.1",
    "title": "{{ site.title }} - Blog Feed",
    "description": "{{ site.description }}",
    "language": "en",
    "home_page_url": "{{ site.url }}",
    "feed_url": "{{ site.url }}{{ permalink }}",
    {# "icon": "{{ "/assets/img/icon-512.png" | htmlBaseUrl(settings.url) | cdnify }}",  #}
    {# "favicon": "{{ "/assets/img/icon-180.png" | htmlBaseUrl(settings.url) | cdnify }}",  #}
    "items": [
        {%- for post in collections.posts | limit(48) | reverse %}
        {
            "id": "{{ site.url }}{{ post.url }}",
            "url": "{{ site.url }}{{ post.url }}",
            "title": "{{ post.data.title }}",
            {# "image": "{{ image | cdnify }}", #}
            "content_html": "{{ post.data.excerpt }}",
            "date_published": "{{ post.date | dateFeed }}",
            "language": "en"
        }
        {%- if not loop.last %},{% endif %}
        {%- endfor %}
    ]
}
