---
permalink: /sw.js
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
/// <reference lib="WebWorker" />
/* eslint-disable no-restricted-globals */

// service worker code based on the example https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers
// some other ideas from https://github.com/bnijenhuis/bnijenhuis-nl and https://gomakethings.com/how-to-set-an-expiration-date-for-items-in-a-service-worker-cache/

{% include "service-worker/config.njk" %}
{% include "service-worker/strategies.njk" %}
{% include "service-worker/events.njk" %}
