---
permalink: /js/site.js
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
/* Site scripts generated: {{ buildInfo.time.formatted }} */
{% include "scripts/bulma-burger.js" %}
{% include "scripts/register-service-worker.js" %}
{% include "scripts/theme-switcher.js" %}
{% include "scripts/add-source-copy-button.js" %}
{% include "scripts/microbit.js" %}
{% include "scripts/read-content-aloud.js" %}

window.onload = () => {
  registerServiceWorker();
  addBulmaBurgerMenu();
  registerThemeSwitch();
  addCopyButtonToSourceCode();
  renderMicrobits();
  initNarratePostContent();
};
