---
permalink: /spider.json
eleventyExcludeFromCollections: true
---
{
  "urls": [

    {%- for page in collections.all | reverse %}
        {%- if not page.data.excludeFromSitemap -%}
        "{{ site.url }}{{ page.url | url }}"{%- if not loop.last %},{% endif %}
        {% endif -%}
    {% endfor -%}
  ]
}
