---
permalink: /spider.json
eleventyExcludeFromCollections: true
---
{
  "urls": [
    {# Limit to most recent posts for checking #}
    {%- for page in collections.all | limit(4) | reverse %}
        {%- if not page.data.excludeFromSitemap -%}
        "{{ site.url }}{{ page.url | url }}"{%- if not loop.last %},{% endif %}
        {% endif -%}
    {% endfor -%}
  ]
}
