---
permalink: /spider.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
  "urls": [
    {# Limit to most recent posts for checking #}
    {%- for page in collections.posts | limit(12) %}
        {%- if not page.data.excludeFromSitemap %}
        "{{ site.url }}{{ page.url | url }}"{%- if not loop.last %},{% endif %}
        {% endif -%}
    {% endfor -%}
  ]
}
