---
layout: index
---
<h2># {{ page.tag }} - {{ site.categories[page.tag].size }} Posts</h2>

{% for post in site.categories[page.tag] %}
<article class="post-summary has-vertical-spacing" id="{{ post.id}}" >
	{% include article-header.html title=post.title subtitle=post.subtitle date=post.date categories=post.categories %}
	<div class="content">
		<p class="excerpt">{{ post.excerpt | strip_html | truncatewords:25 }} <a title="read post" href="{{ post.url }}">Read more</a></p>
	</div>
</article>
{% endfor %}
