---
layout: index
---

<header>
	<h1 class="title">{{ site.categories[page.tag].size }} Posts tagged with #{{ page.tag }}</h1>
</header>
	
<div class="content">

{% assign box_count = 0 %}
{% assign boxes_per_row = 4 %}

{% for post in site.categories[page.tag] %}
	{% if box_count == 0 %}
<div class="tile is-ancestor">
	{% endif %}	

	<div class="tile is-parent">
		<article class="tile is-child post-summary" id="{{ post.id }}"> 
{% include tile.html title=post.title subtitle=post.subtitle url=post.url date=post.date categories=post.categories excerpt=post.excerpt thumbnail=post.thumbnail alttext=post.alttext %}
		</article>
	</div>

	{% assign box_count = box_count | plus:1 %}

	{% if box_count >= boxes_per_row %}
		{% assign box_count = 0 %}
</div>
	{% endif %}	

{% endfor %}

{% if box_count > 0 %}
</div>
{% endif %}	

</div>