{% include html-head.html %}
<body>
{% include page-header.html %}
<div class="container">
	<div class="row">
		<div class="twelve columns content" role="main">
			<article class="post" id="{{ page.id }}">
				<header>
					<h1 class="post-title">{{ page.title }}</h1>
					<div class="post-meta"><i class="fa fa-calendar"></i><span class="date">{{ page.date | date_to_long_string }}</span></div>
					<div class="post-meta"><i class="fa fa-tags"></i><span class="tags">{% include post-tags.html tags=page.tags %}</span></div>
				</header>
				{{ content }}
			</article>	
		</div>
	</div>
</div>
{% include page-footer.html %}
</body>
</html>
