{% include html-head.html %}
<body>
{% include page-header.html %}
<div class="container">
	<div class="row" id="{{ page.id }}">
		<div class="nine columns content" role="main">
			<article>
				<header>
					<div class="post-meta">
						<time datetime="">{{ page.date | date_to_long_string }}</time> <span id="tags">{% include post-tags.html %}</tags>
					</div>
					<h1>{{ page.title }}</h1>
				</header>
				<p>{% include tweet-button.html %}</p>
				{{ content }}
				<p>{% include tweet-button.html %}</p>
			</article>
		</div>
		<div class="three columns navigation">
		{% include tag-cloud.html %}
		{% include contact-info.html %}
		</div>
	</div>
{% include page-footer.html %}
</div>
</body>
</html>
