{% include html-head.html %}
<body>
{% include page-header.html %}
<section class="section">
	<div class="container">
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><a href="{{ site.url }}">home</a></li>
				<li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
			</ul>
		</nav>
	</div>
</section>
<section class="section">
	<div class="container">
		<article class="post" id="{{ page.id }}">
			<header>
				<h1>{{ page.title }}</h1>
				<div id="post-meta" class="post-meta">
				{% if page.date %}<span class="has-text-gray">{{ page.date | date_to_long_string }} | </span>{% endif %}
				{% if page.tags %}<span class="has-text-gray">{% include post-tags.html tags=page.categories %}</span>{% endif %}
				</div>
			</header>
			{{ content }}

			<div class="tweet-post">{% include tweet-link.html %}</div>
			
			{% assign firstCategory = page.categories | first %}
			
			{% if site.categories[firstCategory].size > 1 %}
			{% assign relatedCount = 0 %}
			<div class="related-posts">
				<h4>Related Posts</h4>
				<ul>
			{% for related in site.categories[firstCategory] %}
				{% unless page.url == related.url %}
					{% assign relatedCount = relatedCount | plus: 1 %}
					<li><a title="read post" href="{{ related.url }}">{{ related.title }}</a></li>
				{% endunless %}
				{% if relatedCount == 3 %}
					{% break %}
				{% endif %}
			{% endfor %}
				</ul>
			</div>
			{% endif %}

		</article>
	</div>
</section>
{% include page-footer.html %}
</body>
</html>
