{% include html-head.html %}
<body>
{% include page-header.html %}
<div class="container">
	<div class="row">
		<div class="twelve columns content" role="main">
			<article class="post" id="{{ page.id }}">
				<header>
					<div id="post-meta" class="post-meta">
					{% if page.date %}<span>{{ page.date | date_to_long_string }} | </span>{% endif %}
					{% if page.tags %}<span>{% include post-tags.html tags=page.categories %}</span>{% endif %}
					</div>
					<h2>{{ page.title }}</h2>
				</header>
				{{ content }}
				
				<div class="sketchnote">
					<img src="{{ page.sketchnote.url }}" class="u-max-full-width" alt="{{ page.sketchnote.alt }}" />
				</div>
			</article>	
		</div>
	</div>
	<div class="row">
		{% if page.sketchnote.event %}
		<div class="four columns meta">
			<h4>About the event</h4>
			<p>
				{% if page.sketchnote.event.url %}
				<a href="{{ page.sketchnote.event.url }}">{{ page.sketchnote.event.name }}</a>
				{% else %}
				{{ page.sketchnote.event.name }}
				{% endif %}
			</p>
		</div>
		{% endif %}
		{% if page.sketchnote.source %}
		<div class="four columns meta">
			<h4>Source</h4>
			<p>
			{% if page.sketchnote.source.url %}
				<a href="{{ page.sketchnote.source.url }}">{{ page.sketchnote.source.name }}</a>
			{% else %}	
				{{ page.sketchnote.source.name }}
			{% endif %}
			</p>
		</div>	
		{% endif %}
		{% if page.sketchnote.speaker %}
		<div class="four columns meta">
			<h4>About the speaker</h4>
			<p>
			{% if page.sketchnote.speaker.url %}
				<a href="{{ page.sketchnote.speaker.url }}">{{ page.sketchnote.speaker.name }}</a>
			{% else %}	
				{{ page.sketchnote.speaker.name }}
			{% endif %}
			</p>
		</div>	
		{% endif %}
	</div>	
	<div class="row">
		<div class="twelve columns meta">
			<h4>Licence</h4>
			{% include licence-boilerplate.html %}
		</div>
	</div>	
	<div class="row">
		<div class="twelve columns meta">
			<div class="tweet-post">{% include tweet-link.html %}</div>
		</div>
	</div>
</div>
{% include page-footer.html %}
</body>
</html>
