<!-- creative commons -->
<aside class="licence-boilerplate mt-6 rounded-lg border p-4" aria-label="License">
    <article class="flex gap-4">
        <figure class="shrink-0 m-0">
            <a title="licence by creative commons" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
              <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a>
        </figure>
        <p class="min-w-0 flex-1 mb-0">This work is licensed under a
            <a title="licence by creative commons" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </p>
    </article>
</aside>
<!-- creative commons -->
