<nav class="level is-mobile" aria-label="complementary">
<span class="level-item">&copy; deejaygraham 2011 - <time datetime="{{ site.date | dateISO }}">{{ site.date | dateYear }}</time></span>
</nav>
