{# Requires a global variable to be set called item with url, thumbnail, title, (optional) subtitle #}
<div class="column is-4">
  <div class="card large is-shadowless">
    <div class="card-image">
				<figure class="image">
					<a href="{{ item.url }}" target="_blank" rel="noreferrer">
	  					<img src="{{ item.thumbnail }}" alt="{{ item.title }}" />
					</a>
				</figure>
		</div>
  	<div class="card-content">
      	<h2 class="title is-4"><a href="{{ item.url }}" target="_blank" rel="noreferrer">{{ item.title }}</a></h2>
	{% if item.subtitle %}
        <p class="subtitle is-6">{{ item.subtitle }}</p>
        {% endif %}
    </div>
  </div>
</div>  
