{# Favicon #}
<link rel="icon" type="image/png" href="{{ site.url }}/img/avatar.png">

{# RSS Feeds #}
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/rss.xml" title="{{ site.title }}">

{# 11ty <3 #}
<meta name="generator" content="{{ eleventy.generator }}">
