{# Requires a global variable to be set "postcardlist" #}
<div class="row columns is-multiline">
	{% for post in postcardlist %}
		{% set url =  post.url %}
		{% set title =  post.data.title %}
		{% set subtitle =  post.data.subtitle %}
		{% set date =  post.date %}
		{% set tags =  post.data.tags %}
		{# set excerpt = post.templateContent | excerpt | safe #}
		{{ post.templateContent | log }}
		{{ post.data | log }}
		{% include "partials/post-card.njk" %}
	{% endfor %}
</div>
