{# Requires url, title, date, tags (array); optional subtitle, excerpt #}
<div class="d-card d-card-border bg-base-100 shadow-none h-full">
  <a href="{{ url }}" class="d-card-body">
    {% if tags %}
      <p class="mb-0">{%- for tag in tags -%}{{ tag }}{% if not loop.last %} | {% endif %}{%- endfor -%}</p>
    {% endif %}
      <h2 class="d-card-title mt-0">{{ title }}</h2>
      {% if subtitle %}
      <p class="float-left">{{ subtitle }}</p>
      {% endif %}
      {%- if excerpt -%}
      <div>{{ excerpt }}</div>
      {%- endif -%}
      {%- if date -%}
      <p class="float-left"><time datetime="{{ date | dateISO }}">{{ date | dateFull }}</time></p>
      {%- endif -%}
  </a>
</div>
