{# Requires a global variable to be set "postlist" #}

<div class="grid is-col-min-12">
{% for post in postlist %}
	<div class="cell">
    		<div class="card">
			<a href="{{ post.url }}">
				{% if post.data.thumbnail %}
  				<div class="card-image">
					<figure class="image">
  						<img src="{{ post.data.thumbnail }}" />
					</figure>
				</div>
				{% endif %}   			
	  		
				<div class="card-content">
    					<p class="title">{{ post.data.title }}</p>
					{% if post.data.categories %}
						{% for tag in post.data.tags %}
						<span class="tag">{{ tag }}</span>
						{% endfor %}
					{% endif %}
					{% if post.date %}
						<p><time datetime="{{ post.date | dateISO }}">{{ post.date | dateFull }}</time></p>
					{% endif %}
    				</div>
			</a>
  		</div>
	</div>  
{% endfor %}
</div>
