{# Uses a data file poweredby.json #}
<aside>Powered by:
{%- for item in poweredby %}
  <a href="{{ item.url }}" aria-label="{{ item.name }}" target="_blank" rel="noreferrer">{{ item.name }}</a>{% if not loop.last %} | {% endif %}
{%- endfor %}
|| Last updated: <time datetime="{{ buildInfo.time.raw }}">{{ buildInfo.time.formatted }}
</aside>
