<footer class="footer">
	<section class="section">
		{% include "partials/social-media-links.njk" %}
		<div class="content has-text-centered mt-6">
      <p>&copy; deejaygraham 2011 - <time datetime="{{ site.date | dateISO }}">{{ site.date | dateYear }}</time></p>
			<p>Last updated: <time datetime="{{ buildInfo.time.raw }}">{{ buildInfo.time.formatted }}</time>
    </div>
		<div class="content has-text-centered mt-6">
		{% include "partials/powered-by.njk" %}
		</div>
	</section>
</footer>

