
<!-- partials/siteheader -->
<header class="header">
  <nav class="navbar" aria-label="main navigation" tabindex="-1">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" title="{{ site.title }}" href="/">
          <img src="{{ site.logo }}" alt="{{ site.description }}" >
        </a>
        <a class="navbar-item" title="{{ site.title }}" href="/">{{ site.title }}</a>
        <a role="button" class="navbar-burger" aria-label="menu" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
       {% include "partials/site-navigation.njk" %}>
        </div>
      </div>
    </div>
  </nav>
</header>

{#- if hero %}
{% include "partials/page-hero.njk" %}>
{% endif -#}

<!-- partials/siteheader -->
