<footer class="footer">
  <div class="content has-text-centered">
	<nav aria-label="footer navigation">
          {% for item in nav %}
        <a class="navbar-item" title="{{ item.navLabel }}" href="{{ site.url }}{{ item.navUrl }}">{{ item.navLabel }}</a>
          {% endfor %}
      </nav>

	<nav aria-label="social media">
          {% for item in socialmedia %}
            <a href="{{ item.url }}" aria-label="{{ item.name }}" target="_blank" rel="noreferrer">
		<figure class="image is-24x24">
			<img src="{{ site.url }}/img/{{ item.icon }}" />
		</figure>
	    </a>
          {% endfor %}
      </nav>

	<div class="content has-text-centered">
		<!-- hosting etc -->
	</div>
	<div class="content has-text-centered">
      		<p>&copy; <time datetime="{{ site.buildTime | dateISO }}">{{ site.buildTime | dateYear }}</time></p>
    	</div>
</footer>

{# Scripts #}
<script type="text/javascript" src="{{ site.url }}/js/bulma.js"></script>
