<!-- partials/siteheader -->
<header class="header" role="banner">
  <nav class="navbar" role="navigation" aria-label="main navigation" tabindex="-1">
      <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item has-background-white" title="{{ site.name }}" href="/">
                  <img src="/img/avatar-small.webp" alt="{{ site.description }}" />
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
              </span>
          </div>
          <div id="navbarMenu"class="navbar-menu">
              <div class="navbar-end">
              {% for item in nav %}
                  <a class="navbar-item" title="{{ nav.navLabel }}" href="{{ site.url }}{{ nav.navUrl }}">{{ nav.navLabel }}</a>
              {% endfor %}
              
              {% include "partials/searchbox.njk" %}
              </div>
          </div>
      </div>
  </nav>
</header>
<!-- partials/siteheader -->
