<footer class="footer">
  <div class="content has-text-centered">
    {% for item in socialmedia %}
{# include fa classes  <i class="fas fa-3x fa-rss" aria-hidden="true"></i> #}
	<a title="{{ item.name }}" href="{{ item.url }}" target="_blank" rel="noreferrer">{{ item.name }}</a>
    {% endfor %}
	</div>
	<div class="content has-text-centered">
		<!-- hosting etc -->
	</div>
</footer>

{# Scripts #}
<script type="text/javascript" src="{{ site.url }}/js/bulma.js"></script>
