{# Requires socialmedia.json #}
<nav class="content has-text-centered is-mobile" aria-label="platform">
{%- for item in socialmedia %}
  	<a href="{{ item.url }}" aria-label="{{ item.name }}" target="_blank" rel="noreferrer">
		<figure class="image is-24x24"><img src="{{ site.url }}/img/{{ item.icon }}" alt="{{ item.name }}" class="social-icon"></figure>
  	</a>
{%- endfor %}
</nav>
