<nav class="content has-text-centered is-mobile" aria-label="theme-switcher">
    <button id="light-theme-toggle" data-theme="light" class="button is-ghost" aria-label="Light mode">Light</button>
    <button id="dark-theme-toggle" data-theme="dark" class="button is-ghost" aria-label="Dark mode">Dark</button>
    <button id="system-theme-toggle" data-theme="system" class="button is-ghost" aria-label="Device default">System</button>
</nav>
