a[href] {
    color: var(--bulma-title-color);
}

a[href]:hover {
    color: indianred;
}

/* Jump to main content link - styling from: https://a11y-101.com/development/skip-link */
.skip-link {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.skip-link:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
}
