a {
    color: var(--bulma-title-color);
    text-underline-offset: 2px;
}

// only links inside paras
p a {
    text-decoration: underline dotted;
}

a:hover {
    color: indianred;
    text-decoration: underline;
}

/* Jump to main content link - styling from: https://webaim.org/techniques/css/invisiblecontent/ */
.skip-link {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.skip-link:focus {
    position:static;
    width:auto;
    height:auto;
}

@view-transition {
  navigation: auto;
}

