.hero {
	background-color: var(--bulma-body-background-color);
	display:none;
}

$heroes: (
	"agile": "/img/heroes/hero-muda-muri-mura.webp",
	"blank": "/img/heroes/hero-bomb.webp",
	"cloud": "/img/heroes/hero-man-love.webp",
	"code": "/img/heroes/hero-dddnorth.webp",
	"giraffes": "/img/heroes/giraffes.webp",
	"makers": "/img/heroes/hero-makers-and-creators.webp",
	"microbit": "/img/heroes/hero-microbit.webp",
	"minecraft": "/img/heroes/hero-rpi-2.webp",
	"power": "/img/heroes/hero-crampton-locomotive.webp",
	"secret": "/img/heroes/hero-secret-harbour.webp",
	"waste": "/img/heroes/hero-muda-muri-mura.webp"
); 

@media (min-width: 750px) {

	.hero {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display:table;
		width:100%;
	}

	@each $name, $image in $heroes {
		.#{$name} {
			background: url($image) no-repeat center center;
		}
	}
}
