// Print styling

@media print  {
	.navbar, .related-posts, .footer { 
		display: none; 
	}

	#navbarMenu, .reading-time {
		display: none;
	}
	
	body {
		font: 13pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}

	h2, h3 {
   		page-break-after: avoid;
	}

	.header::after {
  		content: "Please see https://deejaygraham.github.io for the latest version of this page.";
	}
	
	a[href]:after {
  		content: " (" attr(href) ")";
	}
}
